/* Reset */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
body{
    color: white;
}
/* Containers */
.container.full-screen{
    height: 100vh;
    background-color: #1a1a1a;
}

.container.big{
    margin: auto;
    width:80%;
}

/* Header */
header{
    padding: 10px;
}
.top-row{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.top-row p{
    display: inline-block;
    background-color: #101010;
    padding: 7px 10px;
    border-radius: 10px;
}
.recording-state img{
width: 25px; 
vertical-align: middle;
background-color: #101010;
padding: 3px;
}

.recording-state p img{
    width:20px;
}

/* main */
.ID-photo{
   max-width: 20%;
   position: relative;
   margin: 5px;
}

.ID-photo img{
    width: 100%;
    border-radius: 10px;
}
.mic{
    position: absolute;
    left: 5px;
    bottom: 5px;
    
}
.name{
    padding: 2px 7px;
    background-color: rgba(02,02,02,0.5);
    border-radius: 5px;
}

.name i{
    color: tomato;
}

/* section Flexbox Id photos  */
.container.big.user-photos{
    display: flex;
}