/* Reset */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
body{
    color: #9e9e9e;
}
/* Containers */
.container.full-screen{
    height: 100vh;
    /* overflow-y: scroll; */
    background-color: #1a1a1a;
    position: relative;
}

.container.big{
    margin: auto;
    max-width: 1300px;
}

/* Header */
header{
    padding: 10px;
}
.top-row{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.top-row p{
    display: inline-block;
    background-color: #101010;
    padding: 7px 10px;
    border-radius: 10px;
}
.recording-state img{
width: 25px; 
vertical-align: middle;
background-color: #101010;
padding: 3px;
}

.recording-state p img{
    width:20px;
}
.view-type-bnt{
    font-size: 15px;
}
.view-type-bnt i{
    font-size: 10px;
}

/* main */
main{
    display: flex;
    align-items: center;
}
.ID-photo{
   width:calc(100% / 5);
   position: relative;
   padding: 1px 3px;

}

.ID-photo img{
    width: 100%;
    border-radius: 10px;
}
.mic{
    position: absolute;
    left: 5px;
    bottom: 5px;
    
}
.name{
    padding: 2px 7px;
    background-color: rgba(02,02,02,0.5);
    border-radius: 5px;
    color:white
}

.name i{
    color: tomato;
}

/* section Flexbox Id photos  */
.container.big.user-photos{
    display: flex;
    flex-wrap: wrap;
}

/* Angle-left */
 .Angle-left{
    width: 50px;
    height: 70px;
    background-image: linear-gradient(#1c1c1b, black);
    border: 1px solid black;
    text-align: center;
}

.Angle-left p{
   font-size: 11px;
   margin-top: 2px;
   color: #7e7e7e;
} 

.Angle-left i{
    padding-top: 15px;
    color: #2db7ff;
    font-size: 40px;
}
